  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a target="_blank" rel="noopener noreferrer" href="#">CyChain</a>
    - coded by <a target="_blank" rel="noopener noreferrer" href="#">MHR & SH</a>
    <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" rel="noopener noreferrer" 
          href="#">AdminLTE Flask</a> 
    </div>
  </footer>
