<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-8">
	 <!-- Brand Logo -->
	 <a href="/" class="brand-link logo-switch">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-xs"><b>A</b>LT</span>
		<!-- logo for regular state and mobile devices -->
		<!-- <span class="logo-xl"><b>Cy</b>Chain</span> -->
		<img src="/static/assets/img/CyChainLogo.png" class="brand-image-xl logo-xl">
		<!-- <img src="/static/assets/img/logo-xs.png" alt="CyChain Logo Small" class="brand-image-xl logo-xs">
		<img src="/static/assets/img/CyChainLogo.png" alt="CyChain Logo Large" class="brand-image-xs logo-xl img-fluid" style="left: 12px"> -->
		<!-- <span class="brand-text font-weight-light">CyChain</span> -->
	  </a>
  
  

	<!-- Sidebar -->
	<div class="sidebar">


		<!-- SidebarSearch Form -->
		<div class="form-inline mt-2">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-3">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

				<li class="nav-item menu-open">
					<a href="#" class="nav-link {% if segment in ['home', 'ipfs']%} active {% endif %}">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href={{url_for('root.home')}}
								class="nav-link {% if 'home' in segment %} active {% endif %}">
								<i class="far fa-circle nav-icon"></i>
								<p>BlockChain</p>
							</a>
						</li>
						<li class="nav-item">
							<a href={{url_for('ipfs.ipfs')}}
								class="nav-link {% if 'ipfs' in segment %} active {% endif %}">
								<i class="far fa-circle nav-icon"></i>
								<p>IPFS</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item menu-open">
					<a href="#" class="nav-link {% if segment in ['retrieve-by-date', 'retrieve-by-cid']%} active {% endif %}">
						<i class="nav-icon fas fa-search"></i>
						<p>
							Query Log
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="{{url_for('retrieve.retrieve')}}"
								class="nav-link {% if 'retrieve-by-date' in segment %} active {% endif %}">
								<i class="far fa-circle nav-icon"></i>
								<p>By Date</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{url_for('retrieve.get_by_cid')}}"
								class="nav-link {% if 'retrieve-by-cid' in segment %} active {% endif %}">
								<i class="far fa-circle nav-icon"></i>
								<p>By IPFS CID</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item menu-open">
					<a href="#" class="nav-link {% if segment in ['view-stream', 'create-stream']%} active {% endif %}">
						<i class="nav-icon fas fa-book"></i>
						<p>
							Stream Management
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="{{url_for('stream.stream')}}"
								class="nav-link {% if 'view-stream' in segment %} active {% endif %}">
								<i class="far fa-circle nav-icon"></i>
								<p>View</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{url_for('stream.create_stream')}}"
								class="nav-link {% if 'create-stream' in segment %} active {% endif %}">
								<i class="far fa-circle nav-icon"></i>
								<p>Create</p>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item">
					<a href={{url_for('root.manage_permissions')}}
						class="nav-link {% if 'permission' in segment %} active {% endif %}">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Permission Management
						</p>
					</a>
				</li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>