{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Sweet Alert-->
<link rel="stylesheet" href="/static/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
						<li class="breadcrumb-item"><a href={{url_for('stream.stream')}}>Stream</a></li>
            <li class="breadcrumb-item"><a href={{url_for('stream.stream')}}>View</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-6">
        <div class="card card-info">
            <div class="card-header">
              <h2 class="card-title">
                <i class="fas fa-link"></i>
                Blockchain Info
              </h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <h5 class="text-center text-primary">Chain Configuration</h5>
            <hr class="bg-primary">
              <dl class="row">
                {% for key, val in node_info.items() %}
                {%if key in ['version', 'nodeversion', 'chainname', 'edition', 'protocolversion', 'description', 'protocol', 'port', 'setupblocks', 'nodeaddress', 'walletversion', 'blocks', 'connections', 'difficulty']%}
                <dt class="col-sm-4">{{key}}</dt>
                {%if key == 'blocks'%}
                <dd class="col-sm-8">{{val}} - <a href="{{ url_for("bc.get_blocks") }}"> Explore Blocks</a></dd>
                {%else%}
                <dd class="col-sm-8">{{val}}</dd>
                {%endif%}
                {%endif%}
                {%endfor%}
              </dl>
              <h5 class="text-center text-primary">My Node Addresses</h5>
                <hr class="bg-primary">
              <dl class="row">
                <dt class="col-sm-6"><h4>Addresses</h4></dt>
                <dd class="col-sm-6"><h4>Permissions</h4></dd>
                {% for key, val in permissions.items() %}
                    <dt class="col-sm-6 text-md">{{key}}</dt>
                    <dd class="col-sm-6">{{val}}</dd>
                {%endfor%}
              </dl>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card card-info">
            <div class="card-header">
              <h2 class="card-title">
                <i class="fas fa-server"></i>
                Connected Nodes
              </h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {%for peer in peers%}
                <h5 class="text-center text-primary">Node#{{loop.index}}</h5>
                <hr class="bg-primary">
                <dl class="row">
                    {% for key, val in peer.items() %}
                    {%if key in ['id', 'addr', 'handshake', 'startingheight', 'synced_blocks', 'conntime', 'pingtime']%}
                    <dt class="col-sm-4">{{key}}</dt>
                    <dd class="col-sm-8">{{val}}</dd>
                    {%endif%}
                    {%endfor%}
                </dl>
                {%endfor%} 
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script>
  $(function () {
    $("#table_1").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true
    });
    $("#table_2").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true
    });
  });
</script>
{% endblock javascripts %}