{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Sweet Alert-->
<link rel="stylesheet" href="/static/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
						<li class="breadcrumb-item"><a href={{url_for('bc.home')}}>Blockchain</a></li>
            <li class="breadcrumb-item"><a href={{url_for('bc.get_blocks')}}>Blocks</a></li>
            <li class="breadcrumb-item">{{info['height']}}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12">
        <div class="card card-info">
            <div class="card-header">
              <h2>
                <i class="fas fa-cubes"></i>
                Block Info 
              </h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <h5 class="text-center text-primary">Details for block id: <span class="text-danger">{{info['height']}}</span></h5>
            <hr class="bg-primary">
              <dl class="row">
                {% for key, val in info.items() %}
                <dt class="col-sm-3">{{key}}</dt>
                {%if key in ['previousblockhash', 'nextblockhash'] %}
                <dd class="col-sm-9">
                    <a href="{{ url_for("bc.get_block", block=val)}}">{{val}}</a>
                </dd>
                {%else%}
                <dd class="col-sm-9">{{val}}</dd>
                {%endif%}
                {%endfor%}
              </dl>
              <h5 class="text-center text-primary">Transactions</h5>
              <hr class="bg-primary">
              <dl class="row">
              {% for tx in tx_list %}
                <dt class="col-sm-3 text-center">{{loop.index}}</dt>
                <dd class="col-sm-9">{{tx}}</dd>
              {%endfor%}
              </dl>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
{% endblock javascripts %}