{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    td {
        word-wrap: break-word;
        min-width: 160px;
        max-width: 160px;
    }
</style>
<!-- Sweet Alert-->
<link rel="stylesheet" href="/static/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
                        <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Dashboard</a></li>
                        <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Blockchain</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header mx-auto">
                        <h2 class="text-info"></h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="col-md-6">
                                <h5 class="subtitle mb5">My Node</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped mb30">
                                        <tr>
                                            <td> <b> Name</b></td>
                                            <td>{{ node_info['chainname'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> Version</b></td>
                                            <td>{{ node_info['version'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> Node Address</b></td>
                                            <td>{{ node_info['nodeaddress'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> Blocks</b></td>
                                            <td>{{ node_info['blocks'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> Number of Peers</b></td>
                                            <td>{{ node_info['connections'] }}</td>
                                        </tr>
                                    </table>
                                </div><!-- table-responsive -->
                            </div>
                            <div class="col-md-6">
                                <h5 class="subtitle mb5">Connected Nodes</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped mb30">
                                        {% for peer in peers_info %}
                                        <tr>
                                            <td> <b> ID</b></td>
                                            <td>{{ peer['id'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> IP Address</b></td>
                                            <td>{{ peer['addr'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> Handshake Local</b></td>
                                            <td>{{ peer['handshakelocal'] }}</td>
                                        </tr>
                                        <tr>
                                            <td> <b> Handshake Address</b></td>
                                            <td>{{ peer['handshake'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div><!-- table-responsive -->
                            </div><!-- col-md-6 -->


                        </div><!-- col-md-6 -->



                        <div class="col-md-6">
                            <h5 class="subtitle mb5">My Addresses</h5>
                            <div class="table-responsive">
                                {% for address in addresses %}
                                <table class="table table-striped mb30">
                                    <tr>
                                        <td><b>Address</b></td>
                                        <td>{{ address }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Permissions</b></td>
                                        <td>{{ permissions[address] }}</td>
                                    </tr>

                                </table>

                                {% endfor %}

                            </div><!-- table-responsive -->
                        </div><!-- col-md-6 -->
                    </div>
                    <div class="col-md-6">
                        <h5 class="subtitle mb5">My Addresses</h5>
                        <div class="table-responsive">
                            {% for address in addresses %}
                            <table class="table table-striped mb30">
                                <tr>
                                    <td><b>Address</b></td>
                                    <td>{{ address }}</td>
                                </tr>
                                <tr>
                                    <td><b>Permissions</b></td>
                                    <td>{{ permissions[address] }}</td>
                                </tr>

                            </table>

                            {% endfor %}

                        </div><!-- table-responsive -->
                    </div><!-- col-md-6 -->
                </div>
            </div>
        </div>
</div>

</section>
<!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
{% endblock javascripts %}