{% extends "layouts/base.html" %}

{% block title %} IPFS | Home {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
	td{
		word-wrap: break-word;
		min-width: 160px;
		max-width: 160px;
	}
</style>
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
                        <li class="breadcrumb-item"><a href={{url_for('ipfs.ipfs')}}>IPFS</a></li>
                        <li class="breadcrumb-item">Pins</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3>IPFS Pinned Files</h3>
                    </div>
                    <div class="card-body">
						<h4 class="text-primary text-center">Total Pinned Files: {{total}}</h4>
						<hr class="bg-primary">
                       <div class="table-responsive">
                            <table id="table" class="table table-striped table-hover table-bordered text-center">
                                <thead>
                                    <tr class="table-primary">
                                      <th>Hash</th>
                                      <th>Type</th>
                                    </tr>
                                  </thead>
                                {% for pin, val in pins.items() %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for("retrieve.get_data", cid=pin)}}">{{pin}}</a>
                                    </td>
                                    <td>{{val['Type']}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                       </div> 
                    </div>
                </div>
            </div>
        </div>

	</section>
	<!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
	$(function () {
		$("#table").DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true
		})
	});
</script>
{% endblock javascripts %}