{% extends "layouts/base.html" %}

{% block title %} IPFS | Home {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
                        <li class="breadcrumb-item"><a href={{url_for('ipfs.ipfs')}}>Dashboard</a></li>
                        <li class="breadcrumb-item">IPFS</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h4>IPFS Node Info</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <p><b>Peer ID</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{id['ID']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>Agent</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{id['AgentVersion']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>Protocol Version</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{id['ProtocolVersion']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>Gateway</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{config['Gateway']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>API</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{config['API']}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>Addresses</b></p>
                            </div>
                            <div class="col-9">
                                {% for addr in id['Addresses'] %}
                                    {{addr}}
                                {% endfor %}
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>Bootstrap Peers</b></p>
                            </div>
                            <div class="col-9">
                                {% for addr in peers %}
                                    {{addr}}
                                {% endfor %}
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p><b>Public Key</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{id['PublicKey']}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2">
                                <p><b>Total Pinned Files</b></p>
                            </div>
                            <div class="col-9">
                                <p>{{total}} - <a href="{{ url_for("ipfs.get_pins")}}">Explore Pinned Files</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</section>
	<!-- /.content -->
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}