{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Sweet Alert-->
<link rel="stylesheet" href="/static/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
						<li class="breadcrumb-item">Permissions</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<script>
				var Toast = Swal.mixin({
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					timer: 3000
				});
				Toast.fire({
					icon: "{{ category }}",
					title: "{{ message }}"
				})
		</script>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<div class="row d-flex justify-content-center">
			<div class="col-md-6">
				<div class="card card-primary">

					<div class="card-header">
						<h2 class="card-title">Permissions Info</h2>
					</div>
					<div class="card-body">
						<h5 class="subtitle mb5">My Addresses</h5>
						<table id="table_1" class="table table-striped table-hover table-bordered">
							<thead>
								<tr class="table-primary text-center">
									<th>Address</th>
									<th>Permissions</th>
								</tr>
							</thead>
							<tbody>
								{% for address in addresses %}
								<tr>
									<td>{{ address }}</td>
									<td>{{ permissions[address] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<!-- general form elements -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Permission Management</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form action="" method="POST">
						<div class="card-body">
							<div class="form-group">
								<label class="col-sm-3 control-label">Admin Address <span class="asterisk">*</span></label>
								<div class="col-sm-9">
									<select id="fruits" name="admin" class="form-control" required>
										{% for address in adminaddresses %}
										<option value="{{ address }}" SELECTED>{{ address }}</option>"
										{% endfor %}

									</select>
								</div>
							</div><!-- form-group -->
							<div class="form-group">
								<label class="col-sm-3 control-label">To Address<span class="asterisk">*</span></label>
								<div class="col-sm-9">
									<input type="text" name="toaddress" class="form-control" placeholder="Input the address..."
										required />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Operation<span class="asterisk">*</span></label>
								<div class="col-sm-9">
									<div class="rdio rdio-primary">
										<input type="radio" id="male" value="grant" name="grant" required />
										<label for="male">Grant</label>
									</div><!-- rdio -->
									<div class="rdio rdio-primary">
										<input type="radio" value="revoke" id="female" name="grant">
										<label for="female">Revoke</label>
									</div><!-- rdio -->
									<label class="error" for="gender"></label>
								</div>
							</div><!-- form-group -->

							<div class="form-group">
								<label class="col-sm-3 control-label">Permissions <span class="asterisk">*</span></label>
								<div class="col-sm-9">
									<div class="ckbox ckbox-primary">
										<input type="checkbox" id="int_website" value="connect" name="permissions" />
										<label for="int_website">Connect</label>
									</div><!-- rdio -->
									<div class="ckbox ckbox-primary">
										<input type="checkbox" id="int_software" value="send" name="permissions" />
										<label for="int_software">Send</label>
									</div><!-- rdio -->
									<div class="ckbox ckbox-primary">
										<input type="checkbox" id="int_mobile" value="receive" name="permissions" />
										<label for="int_mobile">Receive</label>
									</div><!-- rdio -->

									<div class="ckbox ckbox-primary">
										<input type="checkbox" id="int_create" value="create" name="permissions" />
										<label for="int_create">Create</label>
									</div><!-- rdio -->
									<div class="ckbox ckbox-primary">
										<input type="checkbox" id="int_mine" value="mine" name="permissions" />
										<label for="int_mine">Mine</label>
									</div><!-- rdio -->
									<div class="ckbox ckbox-primary">
										<input type="checkbox" id="int_admin" value="admin" name="permissions" />
										<label for="int_admin">Admin</label>
									</div><!-- rdio -->
								</div>
							</div><!-- form-group -->
						</div>
						<!-- /.card-body -->
						<div class="card-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<!-- /.card -->
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
{% endblock javascripts %}