{% extends "layouts/base.html" %}

{% block title %} IPFS | Home {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    td {
        word-wrap: break-word;
        min-width: 160px;
        max-width: 160px;
    }
</style>
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
                        <li class="breadcrumb-item"><a href={{url_for('retrieve.get_by_cid')}}>Query</a></li>
                        <li class="breadcrumb-item"><a href={{url_for('retrieve.get_by_cid')}}>By IPFS CID</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header mx-auto">
                        <ul class="nav nav-pills card-header-pills pull-right" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-4">
                                    <h5>Raw Logs</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-5">
                                    <h5>Parsed Logs</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-4" role="tabpanel">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h4>Retrieved Log from IPFS</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                {% for line in data%}
                                                <div>{{line}}</div>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-5" role="tabpanel">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h4>IPFS Node Info</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="table"
                                                class="table table-bordered table-striped table-hover text-center">
                                                <thead>
                                                    <tr class="text-dark table-primary">
                                                        <th>Timestamp</th>
                                                        <th>Hostname</th>
                                                        <th>Appname</th>
                                                        <th>PID</th>
                                                        <th>Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for line in lines %}
                                                    <tr>
                                                        <td>{{ line['timestamp'] }}</td>
                                                        <td>{{ line['hostname'] }}</td>
                                                        <td>{{ line['appname'] }}</td>
                                                        {% if 'pid' in line %}
                                                        <td>{{ line['pid'] }}</td>
                                                        {% else %}
                                                        <td>N/A</td>
                                                        {% endif %}
                                                        <td style="width: 40%;" class="text-left">
                                                            <p>{{ line['message'] }}</p>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
    $(function () {
        $("#table").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        })
    });
</script>
{% endblock javascripts %}