{% extends "layouts/base.html" %}

{% block title %} Retrieve Logs {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- daterange picker -->
<link rel="stylesheet" href="static/assets/plugins/daterangepicker/daterangepicker.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
 
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Blank Page</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{{url_for('root.home')}}">Home</a></li>
						<li class="breadcrumb-item active">Start</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<!-- left column -->
				<div class="col-sm-12">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Retrieve Log</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form action="" method="POST">
							{{ form.hidden_tag() }}
							<div class="card-body">
								<div class="form-group">
									<!-- <label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
									{{form.streams.label()}}
      								{{form.streams(class="form-control")}}
								</div>
								<div class="form-group">
									<!-- <label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
									{{form.publishers.label()}}
      								{{form.publishers(class="form-control")}}
								</div>
								<div class="form-group">
									<label>Date range:</label>
				  
									<div class="input-group">
									  <div class="input-group-prepend">
										<span class="input-group-text">
										  <i class="far fa-calendar-alt"></i>
										</span>
									  </div>
									  <input type="text" class="form-control float-right" id="reservation">
									  <div class="form-group">
										{{ form.startdate.label() }} 
										{{form.startdate(class='date form-control')}}
									</div>
									</div>
									<!-- /.input group -->
								</div>
								<div class="form-group">
    								{{ form.enddate.label() }}
									{{form.enddate(class='date form-control')}}
								</div>
							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								{{form.submit(class="btn btn-primary")}}
								<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

	function populateSelect(id, options) {
		$("#" + id).empty();
		let element = document.getElementById(id);
		for (var i = 0; i<options.length; i++) {
			var opt = document.createElement('option');
			opt.value = options[i];
			opt.innerHTML = options[i];
			element.appendChild(opt);
		}
	}

	let stream_select = document.getElementById('streams');
	let publisher_select = document.getElementById('publishers');


	window.onload = async function() {
		let response = await fetch("/stream/subscribed");
		let data = await response.json();
		console.log(data)
		populateSelect("streams", data);
		// poulate publishers for selected streams
		stream = stream_select.value;
		response = await fetch("/stream/" + stream +"/" + "publishers");
		data = await response.json();
		populateSelect("publishers", data);
	}

	stream_select.onchange = async function() {
		stream = stream_select.value;
		let response = await fetch("/stream/" + stream +"/" + "publishers");
		let data = await response.json();
		populateSelect("publishers", data);
	}
</script>

<!-- InputMask -->
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
	$(function () {
	  //Initialize Select2 Elements
	  $('.select2').select2()
  
	  //Initialize Select2 Elements
	  $('.select2bs4').select2({
		theme: 'bootstrap4'
	  })
  
	  //Datemask dd/mm/yyyy
	  $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
	  //Datemask2 mm/dd/yyyy
	  $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
	  //Money Euro
	  $('[data-mask]').inputmask()
  
	  //Date picker
	  $('#reservationdate').datetimepicker({
		  format: 'L'
	  });
  
	  //Date and time picker
	  $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });
  
	  //Date range picker
	  $('#reservation').daterangepicker()
	  //Date range picker with time picker
	  $('#reservationtime').daterangepicker({
		timePicker: true,
		timePickerIncrement: 30,
		locale: {
		  format: 'MM/DD/YYYY hh:mm A'
		}
	  })
	  //Date range as a button
	  $('#daterange-btn').daterangepicker(
		{
		  ranges   : {
			'Today'       : [moment(), moment()],
			'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
			'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			'This Month'  : [moment().startOf('month'), moment().endOf('month')],
			'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		  },
		  startDate: moment().subtract(29, 'days'),
		  endDate  : moment()
		},
		function (start, end) {
		  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
		}
	  )
  
	  //Timepicker
	  $('#timepicker').datetimepicker({
		format: 'LT'
	  })
  
	  //Bootstrap Duallistbox
	  $('.duallistbox').bootstrapDualListbox()
  
	  //Colorpicker
	  $('.my-colorpicker1').colorpicker()
	  //color picker with addon
	  $('.my-colorpicker2').colorpicker()
  
	  $('.my-colorpicker2').on('colorpickerChange', function(event) {
		$('.my-colorpicker2 .fa-square').css('color', event.color.toString());
	  })
  
	  $("input[data-bootstrap-switch]").each(function(){
		$(this).bootstrapSwitch('state', $(this).prop('checked'));
	  })
  
	})
	// BS-Stepper Init
	document.addEventListener('DOMContentLoaded', function () {
	  window.stepper = new Stepper(document.querySelector('.bs-stepper'))
	})
  
	// DropzoneJS Demo Code Start
	Dropzone.autoDiscover = false
  
	// Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
	var previewNode = document.querySelector("#template")
	previewNode.id = ""
	var previewTemplate = previewNode.parentNode.innerHTML
	previewNode.parentNode.removeChild(previewNode)
  
	var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
	  url: "/target-url", // Set the url
	  thumbnailWidth: 80,
	  thumbnailHeight: 80,
	  parallelUploads: 20,
	  previewTemplate: previewTemplate,
	  autoQueue: false, // Make sure the files aren't queued until manually added
	  previewsContainer: "#previews", // Define the container to display the previews
	  clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
	})
  
	myDropzone.on("addedfile", function(file) {
	  // Hookup the start button
	  file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
	})
  
	// Update the total progress bar
	myDropzone.on("totaluploadprogress", function(progress) {
	  document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
	})
  
	myDropzone.on("sending", function(file) {
	  // Show the total progress bar when upload starts
	  document.querySelector("#total-progress").style.opacity = "1"
	  // And disable the start button
	  file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
	})
  
	// Hide the total progress bar when nothing's uploading anymore
	myDropzone.on("queuecomplete", function(progress) {
	  document.querySelector("#total-progress").style.opacity = "0"
	})
  
	// Setup the buttons for all transfers
	// The "add files" button doesn't need to be setup because the config
	// `clickable` has already been specified.
	document.querySelector("#actions .start").onclick = function() {
	  myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
	}
	document.querySelector("#actions .cancel").onclick = function() {
	  myDropzone.removeAllFiles(true)
	}
	// DropzoneJS Demo Code End
  </script>
{% endblock javascripts %}