{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
	td {
		word-wrap: break-word;
		min-width: 160px;
		max-width: 160px;
	}
</style>
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
						<li class="breadcrumb-item"><a href={{url_for('retrieve.retrieve')}}>Query</a></li>
						<li class="breadcrumb-item">By Date</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row d-flex justify-content-center">
			<div class="col-12">
				<div class="card">
					<div class="card-header mx-auto">
						<h4 class="text-info">Showing logs metadata for stream: {{stream}}</h4>
						<div>
							<p class="text-primary text-center">Date from: {{start}} to: {{ end }}</p>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="table" class="table table-striped table-hover table-bordered text-center">
								<thead>
									<tr class="table-primary text-dark">
										<th style="width: 45%;">CID</th>
										<th>Size (Byte)</th>
										<th>Start</th>
										<th>End</th>
										<th>Encryption Status</th>
									</tr>
								</thead>
								<tbody>
									{% for key, val in data.items() %}
									<tr>
										<td><a href="{{ url_for("retrieve.get_data", cid=key)}}">{{key}}</a></td>
										<td>{{ val['size']}}</td>
										<td>{{ val['start']}}</td>
										<td>{{ val['end']}}</td>
										<td>{{ val['encrypted']}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
	$(function () {
		$("#table").DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true
		})
	});
</script>
{% endblock javascripts %}