{% extends "layouts/base.html" %}

{% block title %} Retrieve Logs {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
            <li class="breadcrumb-item"><a href={{url_for('retrieve.get_by_cid')}}>Query</a></li>
            <li class="breadcrumb-item">By IPFS CID</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
        <div class="row d-flex justify-content-center">
				<!-- left column -->
				<div class="col-sm-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Retrieve From IPFS By CID</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form action="" method="POST">
							<div class="card-body">
								<div class="form-group">
									<label>IPFS CID</label>
									    <input name="cid" type="text" class="form-control" id="cid" placeholder="Enter IPFS QmHash">
								</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
			</div>
	</section>
	<!-- /.content -->
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}