{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Sweet Alert-->
<link rel="stylesheet" href="/static/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href={{url_for('root.home')}}>Home</a></li>
						<li class="breadcrumb-item"><a href={{url_for('stream.stream')}}>Stream</a></li>
            <li class="breadcrumb-item">View</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });
      Toast.fire({
        icon: "{{ category }}",
        title: "{{ message }}"
      })
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header mx-auto">
            <ul class="nav nav-pills card-header-pills pull-right" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-4">Subscribed Streams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Unubscribed Streams</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <!-- Modal -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-4" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <table id="table_1" class="table table-striped table-hover table-bordered text-center">
                      <thead>
                        <tr class="table-primary">
                          <th>Name</th>
                          <th>Created By</th>
                          <th>Items</th>
                          <th>Publishers</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for stream in streams %}
                        {% if stream['subscribed'] %}
                        <tr>
                          <td> <a href="{{ url_for("stream.get_detail", stream_id=stream.name)}}"> {{stream.name}} </a></td>
                          <td>{{stream['creators'][0]}}</td>
                          <td>{{stream['items']}}</td>
                          <td>{{stream['publishers']}}</td>
                          <td>
                            <a href="{{ url_for("stream.action", method="0" , stream=stream['name']) }}"
                              class="btn btn-pill btn-danger">
                              <i class="fa fa-minus-circle align-middle mr-1"></i>
                              Unsubscribe
                            </a>
                          </td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="tab-5" role="tabpanel">
                <div class="card">
                  <div class="card-header">

                  </div>
                  <div class="card-body">
                    <table id="table_2" class="table table-striped table-hover table-bordered text-center">
                      <thead>
                        <tr class="table-primary">
                          <th>Name</th>
                          <th>Created By</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for stream in streams%}
                        {% if not stream['subscribed'] %}
                        <tr>
                          <td>{{stream['name']}}</td>
                          <td>{{stream['creators'][0]}}</td>
                          <td>
                            <a onclick="" href="{{ url_for("stream.action", method="1" , stream=stream['name']) }}"
                              class="btn btn-pill btn-info">
                              <i class="fa fa-plus-circle align-middle mr-1"></i>
                              Subscribe
                            </a>
                          </td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script>
  $(function () {
    $("#table_1").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true
    });
    $("#table_2").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true
    });
  });
</script>
{% endblock javascripts %}