{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed layout-navbar-fixed{% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
	td{
		word-wrap: break-word;
		min-width: 160px;
		max-width: 160px;
	}
</style>
<!-- Sweet Alert-->
<link rel="stylesheet" href="/static/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="/static/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Blank Page</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Start</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row d-flex justify-content-center">
			<div class="col-12">
				<div class="card">
					<div class="card-header mx-auto">
						<h4 class="text-info">Showing items for stream: <h2 class="text-primary text-center">{{ stream }}</h2>
						</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="table" class="table table-striped table-hover text-center">
								<thead>
									<tr class="table-primary text-dark">
										<th style="width: 28%;">TX ID</th>
										<th style="width: 28%;">Publisher</th>
										<th>Key</th>
										<th style="width: 28%;">Data</th>
									</tr>
								</thead>
								<tbody>
									{% for item in items %}
									<tr>
										<td>
											<p>{{ item['txid'] }}</p><i class="fas fa-copy" onclick="myFunction(this)"></i>
										</td>
										<td>{{ item['publisher']}}</td>
										<td>{{ item['key'] }}</td>
										<td>{{ item['data'] }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /.content -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- DataTables -->
<script src="/static/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script>
	$(function () {
		$("#table").DataTable({
			"paging": true,
			"lengthChange": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true
		})
	});
</script>
<script>
	function myFunction(ele) {
		var text = ele.parentNode.innerText;
		navigator.clipboard.writeText(text);

		/* Alert the copied text */
		alert("Copied the text: " + ele.parentNode.innerText);
	}
</script>
{% endblock javascripts %}